
<script type="text/javascript">

    function initMap() {
        var locations = JSON.parse('{{ locations | raw }}');
        console.log(locations);
        var map = new google.maps.Map(document.getElementById('wsMap'), {
            zoom: 7,
            center: new google.maps.LatLng(36.89937, 10.189566)
        });
        var infowindow = new google.maps.InfoWindow();
        var marker, i;

        /* for (i = 0; i < locations.length; i++) {
             marker = new google.maps.Marker({
                 position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
                 map: map
             });
             google.maps.event.addListener(marker, 'click', (function(marker, i) {
                 return function() {
                     infowindow.setContent(locations[i]['address']);
                     infowindow.open(map, marker);
                 }
             })(marker, i));
         }*/
        var geocoder = new google.maps.Geocoder();

        for (i = 0; i < locations.length; i++) {
            geocoder.geocode({'address': locations[i]['address']}, function (locations, status) {
                if (status === 'OK') {
                    map.setCenter(locations[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: locations[0].geometry.location
                    });
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infowindow.setContent(locations[i]['address']);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

                else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }


            });

        }
//        marker = new google.maps.Marker;
//        for (i = 0; i < locations.length; i++) {
//            google.maps.event.addListener(marker, 'click', (function(marker, i) {
//                return function() {
//                    infowindow.setContent("aaaaa");
//                    infowindow.open(map, marker);
//                }
//            })(marker, i));
//        }


    }
</script>
<div id="wsMap" style="width: 100%; height:650px"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEdevajP8g5iulqWBPM3UXUTtrzjJ8rDs&callback=initMap&libraries=places">
</script>
