{% extends "layout.html.twig" %}



{% block content1 %}
<link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundle/css/reset.css">
<link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundlecss/plugins.css">
<link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundlecss/style.css">
<link type="text/css" rel="stylesheet" href="bundles/MyAppUserBundlecss/color.css">
<!--=============== favicons ===============-->
<div id="wrapper">
	<!--content -->
	<div class="content">
		<!--section -->
		<section id="sec1">
			<!-- container -->
			<div class="container">

				<div class="profile-edit-header fl-wrap">
					<h4>envoyer un Email </h4>
				</div>
				<h1>  </h1>


				<div class="profile-edit-container add-list-container">

					<div class="custom-form">




                        {{ form(form) }}
						<div/>




					</div>
				</div>
			</div>
		</section>
	</div>









    {% endblock %}
